name: Update html

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    container: pschaus/minicp
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots verify